[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Portainer
Exec=/usr/bin/xdg-open http://localhost:9000
Icon=/usr/share/icons/hicolor/scalable/apps/docker-portainer.svg
Categories=Docker;
